* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
}
header{
    background-color: #f2f2f2;
    height: 7vh;
    display: flex;
    
}

footer{
    background-color: #4C7437;
    color: #f2f2f2;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo_header{
    display: flex;
    align-items: center;
    color: #4C7437;
}

.logo_header img{
    height: 4.5vh;
}

.menu_header ul{
    display: flex;
    justify-content: space-between;
    width: 25vw;
    align-items: center;
    list-style: none;
}

.menu_header ul li a{
    color: #7A00CC;
    text-decoration: none;
}

.menu_header ul button{
    background-color: #7A00CC;
    color: #f2f2f2;
    border-style: none;
    border-radius: 10px;
    height: 3.5vh;
    width: 5vw;
    
}

.banner_home{
    background-image: url(./img/image15.png);
    height: 70vh;
}

.banner_home .container{
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.container_banner_logo{
    background: rgba(0, 0, 0, 0.5);
    width: 20vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
    color: #4C7437;
    font-size: 35px;
}

.container_banner_logo img{
    width: 12vw;
    margin-bottom: 30px;
}

.container_adquina_nosso_sistema{
    margin: 60px 0;
    background-color: #D7D7D7;
    width: 100%;
    padding: 30px 120px;
    border-radius: 70px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.container_adquina_nosso_sistema img{
    height: 30vh;
}

.container_adquina_nosso_sistema_conteudo{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container_adquina_nosso_sistema_conteudo h3{
    text-align: center;
    margin: 2vw 0;
}

.container_adquina_nosso_sistema_conteudo h1{
    color: #7A00CC;
}

.container_adquina_nosso_sistema_conteudo button{
    background-color: #7A00CC;
    color: #f2f2f2;
    border-style: none;
    width: 14vw;
    height: 5vh;
    border-radius: 10px;
}

.container_beneficio{
    background-image: url(./img/image18.png);
    height: 60vh;
}

footer h3{
    font-weight: 100;
}

.img_logoff {
    height: 4.5vh;
}

.conatiner_main{
    background-color: #4C7437;
    height: 87vh;
}

.img_empresa_desh{
    height: 15vh;
    width: auto;
    border-radius: 180px;
    margin-bottom: 10px;
}

 .container_dash{
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .container_conteudo_dash{
    background-color: #f2f2f2;
    height: 60vh;
    width: 100%;
    border-radius: 40px;
    padding: 30px;
    ;
 }

 .container_empresa_dash{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .container_grafico_umidade_temp{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
 }

 .container_grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
 }