* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.img_empresa_desh{
    height: 15vh;
    width: auto;
    border-radius: 180px;
    margin-bottom: 10px;
}

 .container_dash{
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .container_conteudo_dash{
    background-color: #f2f2f2;
    height: 60vh;
    width: 100%;
    border-radius: 40px;
    padding: 30px;
    ;
 }

 .container_empresa_dash{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .container_grafico_umidade_temp{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
 }

 .container_grafico{
    display: flex;
    flex-direction: column;
    align-items: center;
 }